<section class="sobre-nos">
    <div class="texto">
        <h2>Sobre Nós</h2>
        <p>
            Somos uma empresa especializada em embalagens criativas para diversos segmentos:
            alimentício, cosmético e químico. Unimos design, inovação e funcionalidade
            para transformar produtos em experiências únicas.
        </p>
    </div>

</section>
<section>
    <div class="cards">
        <ul>
            <li>
                <h4>metodologia agil</h4>
                <img src="/assets/img/embalagens.avif" alt="">
            </li>

            <li>
                <h4>prazo maximao de entrega (1 mês)</h4>
                <img src="/assets/img/entrega-rapida.jpg" alt="">
            </li>

            <li>
                <h4>temos contato com fornecedors</h4>
                <img src="/assets/img/embalagens-alimento.jpg" alt="">
            </li>
        </ul>
    </div>
</section>
<section class="sobre-nos">
    <div class="texto">
        <h2>Nosso Diferencial</h2>
        <p>
            O que nos torna únicos vai além do design das embalagens. Trabalhamos com uma abordagem centrada no cliente,
            onde cada projeto é personalizado de acordo com a identidade da marca e as necessidades do produto.
            Utilizamos materiais sustentáveis e buscamos constantemente inovação tecnológica, garantindo funcionalidade,
            estética e impacto ambiental reduzido.
        </p>
        <p>
            Nossa equipe multidisciplinar acompanha cada etapa do processo, desde a concepção até a produção final,
            assegurando qualidade, agilidade e originalidade. Aqui, cada embalagem conta uma história — a sua.
        </p>
    </div>
</section>