<section class="titulo">
    <h1><br><span>Representação Embalagem</span></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    <button class="btn-primary">GET STARTED</button>
</section>

<section class="secao Embalagem-alimento">
    <h2>Embalagens alimento</h2>
    <div class="cards">
        <img src="/assets/img/pote-plastico.png" alt="pote palstico">
        <img src="/assets/img/macarrão.png" alt="macarrão">
        <img src="/assets/img/chips.png" alt="Potato Chips">
    </div>
</section>

<section class="secao outro">
    <div class="half cosmetic">
        <h2>emblagens cosmetico</h2>
        <img src="/assets/img/cosmetico.png" alt="Cosmetics">
    </div>
    <div class="half chemical">
        <h2>Embalagem limpeza</h2>
        <img src="/assets/img/galao.png" alt="Chemical">
    </div>
</section>
