<header class="cabecalho">
    <div class="logo"><img src="/assets/img/ead.png" class="img-logo" ></div>
   
    <nav class="navbar-desktop">
        <a routerLink="/home" routerLinkActive="active">
            <img src="/assets/home.svg" alt="home">
            <span>Início</span>
        </a>
        <a routerLink="/sobre" routerLinkActive="active">
            <img src="/assets/info.svg" alt="Sobre Nos">
            <span>Sobre Nós</span>
        </a>
        <a routerLink="/servicos" routerLinkActive="active">
            <img src="/assets/services.svg" alt="serviços">
            <span>Serviços</span>
        </a>
        <a routerLink="/contato" routerLinkActive="active">
            <img src="/assets/call.svg" alt="contato">
            <span>Contato</span>
        </a>
    </nav>


<div class="menu-mobile">
    <input type="checkbox" id="menu" hidden />
    <label for="menu" class="menu-sanduiche"></label>

    <nav class="navbar-mobile">
        <a routerLink="/home" routerLinkActive="active">
            <img src="/assets/home.svg" alt="home">
            <span>Início</span>
        </a>
        <a routerLink="/sobre" routerLinkActive="active">
            <img src="/assets/info.svg" alt="Sobre Nos">
            <span>Sobre nós</span>
        </a>
        <a routerLink="/servicos" routerLinkActive="active">
            <img src="/assets/services.svg" alt="serviços">
            <span>Serviços</span>
        </a>
        <a routerLink="/contato" routerLinkActive="active">
            <img src="/assets/call.svg" alt="contato">
            <span>Contato</span>
        </a>
    </nav>
</div>
</header>