
<main>
    <div class="container-titulo">
            <h1>Contato</h1>
            <p>entre em conato conosco</p>
    </div>
    <div class="container-conteudo">
        <section>
            <H2><img src="assets/img/whatsapp.png" alt="zap"><small>WhatsApp</small></H2>
                <h3>(xx)xxxx-xxxx</h3>
                <h3>(xx)xxxx-xxxx</h3>
        </section>

        <section>
            <h2><img src="assets/call.svg" alt="telefone fixo">Telefone</h2>
            <h3>(xx)xxxx-xxxx</h3>
            <h3>(xx)xxxx-xxxx</h3>
        </section>
    </div>
</main>