/* You can add global styles to this file, and also import other style files */



:root {
    --cor-primaria: #ba3e00;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #c13b1a;
    --cor-quarternaria: #970000;
    --cor-quintinaria: #2b2929;
    --cor-quinaria: #ff5500;


    --cor-fundo: #fff5e0;
}

* {
    padding: 0;
    margin: 0;
    caret-color: transparent;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a89f9f49;
    color: var(--cor-quintinaria);
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

app-root {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/* O main ocupa todo o espaço disponível entre o cabeçalho e o rodapé */
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Aumenta o tamanho do botão VLibras */
[vw-access-button] {
    width: 150px !important;
    height: 150px !important;
    bottom: 24px !important;
    right: 24px !important;
    z-index: 9999 !important;
    /* Opcional: aumenta o ícone dentro do botão */
    background-size: 60px 60px !important;
}

[vw].enabled,
[vw-access-button],
[vw-plugin-wrapper] {
    z-index: 99999 !important;
    position: fixed !important;
}