.site-footer {
    width: 100%;
    position:fixed;
    top: auto;
    bottom: 0;
    text-align: center;
    padding: 2rem;
    margin-bottom: 0;
    background-color: var(--cor-quintinaria);
    color: var(--cor-secundaria);
}